<!DOCTYPE html>
<html>
{% load static %}
{% include "App/head.html" %}
<body>
  <div class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-body bg-primary">
              <h2>Actualizar Tarea</h2>
              <form class="" method="POST">
                {% csrf_token %}
                <div class="form-group"><label for="exampleInputEmail1">Descripción:</label><textarea class="form-control form-control-sm" id="exampleTextarea" rows="3" name="descripcion">{{tarea.tarea_descripcion}}</textarea></div>
                <div class="form-group"> <label>Fecha de Vencimiento:</label>
                  <input type="date" class="form-control" value="{{tarea.tarea_fecha_de_vencimiento}}"name="fecha_de_vencimiento"></div>
                <div class="form-group">
                  <div class="form-check form-control-lg form-check-inline">
                    <input class="form-check-input" type="radio" name="estado" id="exampleRadios1" value="True" checked=""><label class="form-check-label" for="exampleRadios1">Pendiente</label></div>
                  <div class="form-check form-check-inline form-control-lg">
                    <input class="form-check-input" type="radio" name="estado" id="exampleRadios1" value="False" checked=""><label class="form-check-label" for="exampleRadios1">Finalizada</label></div>
                </div>
                <button type="submit" class="btn btn-secondary">Guardar</button>
              </form>
              <a class="btn btn-secondary" href="/App/tareas/gestion">Cancelar</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>

</html>